<body>
  <div class="background-filter">
    <div class="welcome">
      <p>WELCOME TO</p>
      <img class="title-logo" src="../../../assets/logo.png" />
    </div>
    <div class="starter-blocks">
      <div class="message">Get started! -</div>
      <div class="group">
        <app-discover-block
          [title]="title1"
          [image]="image1"
          [subtitle]="subtitle1"
        ></app-discover-block>
        <a
          target="_blank"
          href="https://store.steampowered.com/app/361420/ASTRONEER/"
          ><app-discover-block
            [title]="title2"
            [image]="image2"
            [subtitle]="subtitle2"
          ></app-discover-block
        ></a>
        <a target="_blank" href="https://github.com/GodwinCameron/AstroCrafter"
          ><app-discover-block
            [title]="title3"
            [image]="image3"
            [subtitle]="subtitle3"
          ></app-discover-block
        ></a>
        <app-discover-block
          (click)="navigateToPlanet()"
          [title]="title4"
          [image]="image4"
          [subtitle]="subtitle4"
        ></app-discover-block>
      </div>
    </div>
    <div class="info">
      <h1>AstroCrafter -</h1>
      <p>
        This WebApp serves as a project to experiment with the Angular framework
        in a fullstack application based around an inventory management system.
        <br />
        <br />
        The creators of this WebApp; Cameron Godwin and Tsebo Ramonyalioa have
        no affiliation with the game Astroneer, and this WebApp is not an
        official product of System Era Softworks. All rights are reserved to the
        creators of Astroneer. This is merely a heavily inspired fan project
        using information and assets from both the game and the wiki.
        <br />
        <br />
        For more information on the game Astroneer, visit the official website
        or click the "What is Astroneer?" tab above.
        <br />
        <br />
        Without further ado, Welcome to AstroCrafter!
      </p>
    </div>
  </div>
</body>
<body>
  <div class="section">hi</div>
</body>
