<div class="main">
  <h1>
    CRAFTING..............................................................................................................................................
  </h1>
  <div class="content">
    <div class="section schematics">
      <p>SCHEMATICS:</p>
      <div class="block">
        <div class="recipe-name">
          <ng-container
            class="align"
            *ngFor="let recipe of recipes; let i = index"
          >
            <p (click)="handleClick(i)">
              <span>{{ recipe.name.toUpperCase() }}</span>
              <span class="filler"></span>
            </p>
            <p>.</p>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="section ingredients">
      <p>INGREDIENTS REQUIRED:</p>
      <div class="block required-ingredients" #ingredientsElement>
        <ng-container *ngIf="selectedRecipe">
          <app-required-ingredient-card
            [inventory]="inventory"
            [selectedRecipe]="selectedRecipe"
            [ingredientNumber]="1"
            [ingredientsMet]="ingredientsMet"
          ></app-required-ingredient-card>
          <ng-container *ngIf="selectedRecipe.ingredient_2_quantity > 0">
            <app-required-ingredient-card
              [inventory]="inventory"
              [selectedRecipe]="selectedRecipe"
              [ingredientNumber]="2"
              [ingredientsMet]="ingredientsMet"
            ></app-required-ingredient-card>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="craft">
      <div class="button" #craftButtonElement>
        <p>
          <ng-container *ngIf="isCraftable()">CRAFT</ng-container>
          <ng-container *ngIf="!isCraftable()">MISSING INGREDIENTS</ng-container>
        </p>
      </div>
    </div>
    <div class="section yeild">
      <p>YIELD:</p>
      <div class="block" #yeildElement></div>
    </div>
  </div>
</div>
