<div class="main">
    <div class="location" [style.background-color]="color">
        <p>{{ currentPlanet.toUpperCase() }} </p>
    </div>
    <div class="content" [style.background-color]="color">
        <div class="section">
            <a href="home"><p>HOME-></p></a>
            <div class="block"></div>
        </div>
        <div class="section">
            <a href="planet"><p>PLANETS-></p></a>
            <div class="block"></div>
        </div>
        <div class="section">
            <a href="login"><p>LOGIN-></p></a>
            <div class="block"></div>
        </div>
    </div>
</div>
