<div class="main">
    <div class="location">
        <p>ATROX</p>
    </div>
    <div class="content">
        <div class="section">
            <a href="home"><p>HOME-></p></a>
            <div class="block"></div>
        </div>
        <div class="section">
            <a href="planet"><p>PLANETS-></p></a>
            <div class="block"></div>
        </div>
        <div class="section">
            <a href="login"><p>LOGIN-></p></a>
            <div class="block"></div>
        </div>
    </div>
</div>
