<body>
  <div class="background-filter">
    <div class="welcome">
      <p>WELCOME TO</p>
      <img class="title-logo" src="../../../assets/logo.png" />
    </div>
    <div class="starter-blocks">
      <div class="message">Get started! -</div>
      <div class="group">
        <app-discover-block [title]=""></app-discover-block>
        <app-discover-block></app-discover-block>
        <app-discover-block></app-discover-block>
        <app-discover-block></app-discover-block>
      </div>
    </div>
  </div>
</body>
