<div class="main">
  <h1>
    INVENTORY........................................................................................................................................
  </h1>
  <div class="container">
    <ng-container *ngFor="let item of data; let i = index">
      <app-item-card
        *ngIf="item.quantity > 0"
        [data]="data"
        [index]="i"
        [currentPlanet]="currentPlanet"
        (dataChanged)="handleDataChange()"
      ></app-item-card>
    </ng-container>
  </div>
</div>
