<div class="main">
  <h1>
    COLLECTION.........................................................................................................................................
  </h1>
  <div class="container" *ngIf="data">
    <ng-container *ngFor="let item of data.slice(0, 8); let i = index">
      <app-collectable
        [data]="data"
        [index]="i"
        [currentPlanet]="currentPlanet"
      ></app-collectable>
    </ng-container>
    <ng-container *ngIf="currentPlanet.name == 'Sylva'">
      <app-collectable
        [data]="data"
        [index]="8"
        [currentPlanet]="currentPlanet"
      ></app-collectable>
    </ng-container>
    <ng-container *ngIf="currentPlanet.name === 'Desolo'">
      <app-collectable
        [data]="data"
        [index]="9"
        [currentPlanet]="currentPlanet"
      ></app-collectable>
    </ng-container>
    <ng-container *ngIf="currentPlanet.name === 'Calidor'">
        <app-collectable
          [data]="data"
          [index]="43"
          [currentPlanet]="currentPlanet"
        ></app-collectable>
      </ng-container>
      <ng-container *ngIf="currentPlanet.name === 'Vesania'">
        <app-collectable
          [data]="data"
          [index]="10"
          [currentPlanet]="currentPlanet"
        ></app-collectable>
      </ng-container>
      <ng-container *ngIf="currentPlanet.name === 'Novus'">
        <app-collectable
          [data]="data"
          [index]="44"
          [currentPlanet]="currentPlanet"
        ></app-collectable>
      </ng-container>
      <ng-container *ngIf="currentPlanet.name === 'Glacio'">
        <app-collectable
          [data]="data"
          [index]="11"
          [currentPlanet]="currentPlanet"
        ></app-collectable>
        <app-collectable
          [data]="data"
          [index]="12"
          [currentPlanet]="currentPlanet"
        ></app-collectable>
      </ng-container>
      <ng-container *ngIf="currentPlanet.name === 'Atrox'">
        <app-collectable
          [data]="data"
          [index]="13"
          [currentPlanet]="currentPlanet"
        ></app-collectable>
      </ng-container>
  </div>
</div>



