<div class="item">
  <div class="info" [style.background-color]="currentPlanet.color">
    <div class="icon"><img src="../../../assets/icons/{{ data[key].resource.name.toLowerCase() }}.png" alt="{{ data[key].icon}}" /></div>
    <div class="item-image">
      <img src="../../../assets/resources/{{ data[key].resource.name.toLowerCase() }}.png" alt="{{ data[key].image}}"/>
    </div>
    ...x{{ data[key].quantity }}......
    <p>{{ data[key].resource.name }}</p>
  </div>
  <div class="button-section">
    <div class="button transfer">TRANSFER</div>
    <div class="button sell">SELL</div>
    <div (click)="handleDiscard()" class="button discard">DISCARD</div>
  </div>
</div>
