<div class="block">
  <div class="title-section">
    <div class="nav">
      <div
        class="nav-item"
        (click)="toggleNavItem(0)"
        [class.clicked]="navItemsClicked[0]"
      >
        <img src="../../../assets/nav-star.png" />
      </div>
      <div
        class="nav-item"
        (click)="toggleNavItem(1)"
        [class.clicked]="navItemsClicked[1]"
      >
        <img src="../../../assets/nav-star.png" />
      </div>
      <div
        class="nav-item"
        (click)="toggleNavItem(2)"
        [class.clicked]="navItemsClicked[2]"
      >
        <img src="../../../assets/nav-star.png" />
      </div>
      <div
        class="nav-item"
        (click)="toggleNavItem(3)"
        [class.clicked]="navItemsClicked[3]"
      >
        <img src="../../../assets/nav-star.png" />
      </div>
    </div>

    <div class="name">PLANET - VESANIA</div>
  </div>
  <div class="content" #contentElement>
    <div class="item-card" #itemCardElement>
      <div *ngIf="navItemsClicked[0]">
        <app-inventory-item/>
      </div>
      <div *ngIf="navItemsClicked[1]">
        <app-inventory-crafting/>
      </div>
      <div *ngIf="navItemsClicked[2]">
        <app-refinery/>
      </div>
      <div *ngIf="navItemsClicked[3]">
        <app-planet-selector/>
      </div>
    </div>
  </div>
</div>
