<div class="main">
  <h1>
    CRAFTING..............................................................................................................................................
  </h1>
  <div class="content">
    <div class="section schematics">
        <p>SCHEMATICS:</p>
        <div class="block"></div>
    </div>
    <div class="section ingredients">
        <p>INGREDIENTS REQUIRED:</p>
        <div class="block"></div>
    </div>
    <div class="craft">
        <div class="button"><p>CRAFT</p></div>
    </div>
    <div class="section yeild">
        <p>YIELD:</p>
        <div class="block"></div>
    </div>
  </div>
</div>
