<body>
  <div class="filter">
    <app-top-nav [wallet]="wallet" [currentPlanet]="currentPlanet" [color]="color"></app-top-nav>
    <div class="main">
      <app-main-panel
        [currentPlanet]="currentPlanet"
        (currentPlanetChange)="handleCurrentPlanetChange($event)"
      ></app-main-panel>
      <div
        class="planet-orb rotating"
        (click)="changePlanet()"
        [style.background-image]="'url(' + currentPlanet.image + ')'"
      >
        <div class="hover-effect"></div>
      </div>
    </div>
    <app-planet-selector-large
      (currentPlanetChange)="handleCurrentPlanetChange($event)"
      [currentPlanet]="currentPlanet"
    ></app-planet-selector-large>
    <app-transfer-panel></app-transfer-panel>
  </div>
</body>
